p {
    font-family: sans-serif;
    font-size: 16px;
    color: #303846;
}
body {
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background: #ffffff;
}
.mt-100 {
    margin-top: 100px;
}
.nav-horizontal {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.mr-2 {
    margin-right: 2em;
}
.logo {
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 20px;
    display: flex;
    align-items: center;
    
}
.site-name {
    padding: 20px;
}
.bold {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
}
.banner {
    margin-top: 80px;
    background-image: url(images/banner.png);
    background-position-y: 615px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 390px;
}
.banner-text-1 {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}
.banner-text-2 {
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: -40px;
}
button {
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: unset;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}