:root {
    --height-section: 60px;
    --white: white;
    --green: #09d3ac;
    --lightgray: LightGray;
}
p {
    font-size: 16px;
    color: #303846; 
    line-height: 1.5em;
}
h1 {
    font-size: 3em;
    margin-top: 10px;
    font-size: 3em;
    color: var(--white);
    font-weight: bold
}
h2 {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
li {
    font-weight: bold;
}
.fs1 {
    font-size: 1.2em;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.mt0 {
    margin-top: 0;
}
.m-auto {
    margin: auto;
}
.mt20 {
    margin-top: 20px;
}
.mt-15 {
    margin-top: -15px;
}
.ml1 {
    margin-left: 1em;
}
.ml2 {
    margin-left: 2em;
}
.mb30 {
    margin-bottom: 30px;
}
.pt-pb-60 {
    padding-top: var(--height-section);
    padding-bottom: var(--height-section);
}
.h22 {
    height: 22px;
}
.h30 {
    height: 30px;
}
.h140 {
    height: 140px;
}
.w-25per {
    width: 25%;
}
.w-30per {
    width: 30%;
}
.w-45per {
    width: 45%;
}
.w-50per {
    width: 50%;
}
.w30 {
    width: 30px;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.white {
    color: var(--white);
}
.black {
    color: black;
}
.background-gray {
    background-color: #f7f7f7;
}
.color09d3ac {
    color: var(--green);
}
.text-dec-none {
    text-decoration: none;
}
.pointer {
    cursor: pointer;
}
.text-right {
    text-align: right;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}

.header {
    width: 100%;
    background: var(--white);
    padding: 5px 20px;
    box-sizing: border-box;
    height: var(--height-section);
}
.mt-header {
    margin-top: var(--height-section);
}
.header-fixed {
    position: fixed;
    top: 0;
}
.l-style-none {
    list-style: none;
}
.align-center {
    align-items: center;
}
.bg-space {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.btn {
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 1em;
    background-color: transparent;
    font-weight: bold;
    width: 140px;
}
.border-white {
    border: 1px solid var(--white);
    color: var(--white);
}
.border-green {
    border: 1px solid var(--green);
}
.container {
    width: 1000px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.fieldset {
    border-color: var(--lightgray);
    margin-top: 15px;
    border: 2px solid var(--green);
    padding: 20px;
}
.select {
    background-color: var(--white);
    padding: 5px;
    width: 170px;
    border-radius: 8px;
    border-color: var(--lightgray);
    margin-top: 15px;
}
.input-contact {
    width: 170px;
    border-radius: 8px;
    border-color: var(--lightgray);
    margin-top: 15px;
}
.floatleft-mt15 {
    float: left;
    margin-top: 15px;
}
.footer {
    background-color: #303846;
    line-height: 25px;
}
