p {
    font-size: 16px;
    color: #303846;
    line-height: 1.5em;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1em;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.m-auto {
    margin: auto;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}
.mt60 {
    margin-top: 60px;
}
.mt-15 {
    margin-top: -15px;
}
.ml2 {
    margin-left: 2em;
}
.mb30 {
    margin-bottom: 30px;
}
.pl20 {
    padding-left: 20px;
}
.pt-pb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.h22 {
    height: 22px;
}
.h30 {
    height: 30px;
}
.h140 {
    height: 140px;
}
.w-30per {
    width: 30%;
}
.w-45per {
    width: 45%;
}
.w-50per {
    width: 50%;
}
.w30 {
    width: 30px;
}
.w1000 {
    width: 1000px;
}
.text-center {
    text-align: center;
}
.f-size-3 {
    font-size: 3em;
}
.bold {
    font-weight: bold;
}
.white {
    color: white;
}
.black {
    color: black;
}
.background-gray {
    background-color: #f7f7f7;
}
.color09d3ac {
    color: #09d3ac;
}
.text-dec-none {
    text-decoration: none;
}
.pointer {
    cursor: pointer;
}
.text-right {
    text-align: right;
}
.list-item {
    display: list-item;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.header {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    height: 60px;
    width: 100%;
    background: #ffffff;
    padding: 5px 20px;
}
.l-style-none {
    list-style: none;
}
.logo {
    align-items: center;
}
.bg-space {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.btn {
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 1em;
    background-color: transparent;
    font-weight: bold;
    width: 140px;
}
.border-white {
    border: 1px solid #ffffff;
    color: white;
}
.border-green {
    border: 1px solid #09d3ac;
}
.w1000-flex-marginauto {
    width: 1000px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.fieldset {
    border-color: LightGray;
    margin-top: 15px;
    border: 2px solid #09d3ac;
    padding: 20px;
}
.select {
    background-color: white;
    padding: 5px;
    width: 170px;
    border-radius: 8px;
    border-color: LightGray;
    margin-top: 15px;
}
.input-contact {
    width: 170px;
    border-radius: 8px;
    border-color: LightGray;
    margin-top: 15px;
}
.floatleft-mt15 {
    float: left;
    margin-top: 15px;
}
.footer {
    background-color: #303846;
    line-height: 25px;
}
